@font-face {
    font-family: 'CensoredExprmntlbetaGX';
    src: url('../fonts/censoredxprmntlGX.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:hover {
    transition: all .2s;
    text-decoration: none;
    outline: none !important;
    color: #000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Main */
.main {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Navigation */
.mob-navbar-title {
    display: none;
}

/* Sidebar */
.sidebar {
    border-right: 3px solid #000;
    width: 440px;
    max-width: 440px;
    min-width: 440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-content {
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-content {

}

.sidebar .sidebar-content .btn {
    border-radius: 0;
    background-color: #000;
    text-transform: uppercase;
    font-family: 'HelveticaRegular', sans-serif;
    font-size: 30px;
    color: #fff;
    padding: 10px 40px;
}

.sidebar__about {
    justify-content: flex-start;
}

.sidebar__content {
    margin-left: 23px;
}

.sidebar-navigation {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.sidebar-navigation .sidebar-navigation__item {
    text-transform: uppercase;
    font-family: 'FreeSans', sans-serif;
    font-size: 32px;
    color: #000;
    text-align: left;
    list-style: none;
    margin-bottom: 10px;
}

.sidebar-navigation .sidebar-navigation__item:last-child {
    margin-bottom: 0;
}

.sidebar-navigation .sidebar-navigation__item a:hover {
    transition: all .2s;
    color: #05FF1E;
}

.content {
    height: 100%;
    display: flex;
}

/* TextEditor */
.text-editor {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.text-editor .form-control {
    border-color: #fff;
    min-height: 41.25rem;
    font-family: 'HelveticaRegular', sans-serif;
    color: #000;
    resize: none;
}


.form-control {
    outline: none !important;
}

.text-editor textarea {
    border: none;
    border-radius: 0;
    width: 100%;
    min-height: 100%;
    line-height: 120%;
    text-align: center;
    font-family: 'CensoredExprmntlbetaGX', sans-serif !important;
    outline-color: transparent !important;
    overflow: hidden;
    resize: none;
    padding: 60px;
}

.text-editor textarea:focus {
    outline-color: #fff;
    outline-style: none;
}

.text-editor textarea::placeholder {
    text-align: center;
    font-family: 'CensoredExprmntlbetaGX', sans-serif;
    font-size: 130px;
    line-height: 160px;
    color: #BEBDBD;
}

.random {
    border-radius: 50px;
    border: 2px solid #000;
    background-color: #fff;
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 0;
    margin-top: 20px;
}

.random img {
    width: 70%;
    height: 70%;
}

.random:focus {
    outline: none !important;
}

/* FontSetting */
.font-setting {
    width: 21.875rem;
    margin: 0 auto 3rem;
}

.font-setting .form-group {
    display: flex;
    align-items: center;
}

.font-setting .form-control-range {
    max-width: 180px;
    margin-top: 8px;
}

.font-setting .form-label {
    text-transform: uppercase;
    font-size: 32px;
    color: #000;
    margin-left: 1.25rem;
    margin-bottom: 0;
}

/* Tab content */
.tab-content {
    width: 100%;
}

/* About */
.about {
    width: 100%;
    text-align: center;
    display: flex;
}

.about-content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 80px 120px;
}

.about-content__text {
    font-size: 32px;
    text-align: left;
    margin-bottom: 60px;
}

.about-content .about-content__idea {
    width: 100%;
}

.about-content .about-content__contacts {
    width: 100%;
}

.about-content .about-content__font-download {
    width: 100%;
}

.about-content .tab-pane {
    display: none;
}

.about-content .active {
    display: block;
}

/* Gallery */
.gallery {
    width: 100%;
    text-align: center;
    display: flex;
}

.gallery .gallery__item img {
    width: 100%;
}

.gallery .gallery__item {
    background-color: #C4C4C4;
    width: 554px;
    height: 554px;
    margin: 30px 15px 20px;
}

.gallery .gallery__title {
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    margin-top: 15px;
}

.gallery .scroll-horizontal div {
    align-items: center;
    left: 0;
}

/* Store */
.store {
    width: 100%;
    text-align: center;
    display: flex;
}

.store .store__item {
    width: 554px;
    min-height: 554px;
    overflow: hidden;
    margin: 30px 15px 20px;
}

.store .store__item img {
    border: 3px solid transparent;
    width: 100%;
    transition: all .2s;
}

.store .store__item:hover img {
    border: 3px solid #05ff1e;
    width: 100%;
    transition: all .2s;
}

.store .store__item:hover {
    cursor: pointer;
}

.store .store__title {
    text-align: left;
    font-size: 16px;
    margin-top: 15px;
}

.store .scroll-horizontal div {
    align-items: center;
    left: 0;
}

.store .sidebar-content {
    text-align: left;
}

.store .sidebar-content__title {
    font-size: 32px;
}

.store .sidebar-content__size {
    font-size: 32px;
    margin: 60px 0;
}

.store .sidebar-content__grid-size {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.store .sidebar-content__grid-size-title {
    text-align: left;
}

.store .sidebar-content__grid-size-item {
    border: 2px solid;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    padding: 2px 16px 1px;
    margin-right: 6px;
    margin-top: 10px;
}

.store .sidebar-content__grid-size-item:hover {
    border: 2px solid #05FF1E;
    transition: all .2s;
    color: #05FF1E;
}

.store .sidebar-content__grid-size-item:hover:first-child {
    border: 2px solid #fff;
    cursor: text;
    color: #000;
}


.store .sidebar-content__order {
    border: 2px solid;
    background-color: #fff;
    transition: all .2s;
    font-size: 32px;
    outline: none;
    padding: 15px 40px 10px;
}

.store .sidebar-content__order:hover {
    border: 2px solid #05FF1E;
    color: #05FF1E;
    transition: all .2s;
}

.about h1,
.gallery h1,
.store h1 {
    margin: 20rem 0;
}

/* Copyright */
.copyright {
    background: url('../images/copyright.svg') no-repeat center;
    width: 20px;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 30px 0 30px;
    animation-duration: 3s;
}

.modal-block {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.modal-block__btn {
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}

.modal-block__btn img {
    width: 100%;
}

.mob-modal-block__text {
    display: none;
}

.modal-block__text {
    font-size: 32px;
    line-height: 60px;
    text-align: center;
}

.modal-block__link,
.modal-block__link:hover {
    color: #05FF1E;
}

.slider {
    -webkit-appearance: none;
    height: 3px;
    background: #000;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    border: 2px solid #000;
    background: #fff;
    width: 10px;
    height: 18px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: #fff;
    width: 10px;
    height: 18px;
    cursor: pointer;
}


/* Footer */
.footer {
    border-top: 3px solid #000;
    height: 70px;
    display: flex;
    text-align: center;
    font-size: 32px;
    margin-top: auto;
}

.footer .marquee-stroke {
    text-transform: uppercase;
    font-size: 32px;
    margin: 11px 0;
    animation-name: marquee;
}

@keyframes marquee {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

.footer h6 {
    margin-bottom: 0;
}


/* Media */
@media (max-width: 1390px) {
    /* Editor */
    .sidebar {
        width: 400px;
        max-width: 400px;
        min-width: 400px;
    }

    .sidebar .sidebar-content .btn {
        font-size: 22px;
    }

    .text-editor textarea::placeholder {
        line-height: 100px;
        font-size: 80px;
    }

    .modal-block__text {
        line-height: 40px;
        font-size: 28px;
    }

    .font-setting .form-label {
        font-size: 22px;
    }
}

@media (max-width: 1030px) {
    .sidebar {
        width: 350px;
        max-width: 350px;
        min-width: 350px;
    }

    .sidebar .sidebar-content .btn {
        margin-left: 15px;
    }

    .store .sidebar-content {
        padding: 0 15px;
    }

    .font-setting {
        padding: 0 15px;
    }

    .modal-block__text {
        line-height: 30px;
        font-size: 24px;
    }
}

@media (max-width: 990px) {
    /* navigation */
    .mob-navbar-title {
        font-size: 32px;
        display: block;
        margin: auto;
    }

    /* Content */
    .content {
        flex-direction: column-reverse;
    }

    /* Sidebar */
    .sidebar {
        border-top: 3px solid;
        border-right: none;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 30%;
    }

    .font-setting {
        margin-bottom: 0;
    }

    /* Modal block */
    .modal-block {
        height: 100%;
    }

    .modal-block__text {
        display: none;
    }

    .modal-block__btn {
        width: 30px;
    }

    /* Textarea */
    .text-editor {
        position: unset;
        text-align: center;
        height: 100%;
    }

    .text-editor textarea {
        font-size: 30px;
    }

    .text-editor textarea::placeholder {
        line-height: 30px;
        font-size: 30px;
    }

    .text-editor {
        width: 100%;
    }

    .font-setting .form-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .font-setting .form-label {
        margin-top: 5px;
    }

    .random,
    .sidebar .sidebar-content .btn {
        display: none;
    }

    .mob-modal-block__text {
        font-size: 18px;
        display: block;
    }


    /* Copyright */
    .copyright {
        display: none;
    }

    /* Footer */
    .footer {
        display: none;
    }
}
