@import 'base/general';
@import 'components/main';
@import 'components/navigation';
@import 'components/sidebar';
@import 'components/text-editor';
@import 'components/random';
@import 'components/font-setting';
@import 'components/tab-content';
@import 'components/about';
@import 'components/gallery';
@import 'components/store';
@import 'components/copyright';
@import 'components/modal-block';
@import 'components/slider';
@import 'components/footer';

@font-face {
    font-family: 'CensoredExprmntlbetaGX';
    src: url('../fonts/censoredxprmntlGX.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Store */
.about h1,
.gallery h1,
.store h1 {
    margin: 20rem 0;
}


/* Media */
@media (max-width: 1390px) {
    .font-setting .form-label {
        font-size: 22px;
    }
}

@media (max-width: 1030px) {
    .sidebar {
        width: 350px;
        max-width: 350px;
        min-width: 350px;
    }

    .sidebar .sidebar-content .btn {
        margin-left: 15px;
    }

    .store .sidebar-content {
        padding: 0 15px;
    }

    .font-setting {
        padding: 0 15px;
    }
}

@media (max-width: 990px) {
    /* navigation */
    .mob-navbar-title {
        font-size: 32px;
        display: block;
        margin: auto;
    }

    /* Content */
    .content {
        flex-direction: column-reverse;
    }

    /* Sidebar */
    .sidebar {
        border-top: 3px solid;
        border-right: none;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 30%;
    }

    .font-setting {
        margin-bottom: 0;
    }

    /* Textarea */
    .text-editor {
        position: unset;
        text-align: center;
        height: 100%;
    }

    .text-editor textarea {
        font-size: 30px;
    }

    .text-editor textarea::placeholder {
        line-height: 30px;
        font-size: 30px;
    }

    .text-editor {
        width: 100%;
    }

    .font-setting .form-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .font-setting .form-label {
        margin-top: 5px;
    }

    .random,
    .sidebar .sidebar-content .btn {
        display: none;
    }

    /* Copyright */
    .copyright {
        display: none;
    }
}
