@import 'base/general';
@import 'components/main';
@import 'components/navigation';
@import 'components/sidebar';
@import 'components/text-editor';
@import 'components/random';
@import 'components/font-setting';
@import 'components/tab-content';
@import 'components/about';
@import 'components/gallery';
@import 'components/store';
@import 'components/copyright';
@import 'components/modal-block';
@import 'components/slider';
@import 'components/footer';

@font-face {
    font-family: 'CensoredExprmntlbetaGX';
    src: url('../fonts/censoredxprmntlGX.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Store */
.about h1,
.gallery h1,
.store h1 {
    margin: 20rem 0;
}


/* Media */
@media (max-width: 990px) {
    /* Content */
    .content {
        flex-direction: column-reverse;
    }

    /* Textarea */
    .text-editor {
        position: unset;
        text-align: center;
        height: 100%;
    }

    .text-editor textarea {
        font-size: 30px;
    }

    .text-editor textarea::placeholder {
        line-height: 30px;
        font-size: 30px;
    }

    .text-editor {
        width: 100%;
    }

    .random,
    .sidebar .sidebar-content .btn {
        display: none;
    }

    /* Copyright */
    .copyright {
        display: none;
    }
}
