.copyright {
    background: url('../../images/copyright.svg') no-repeat center;
    width: 20px;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 30px 0 30px;
    animation-duration: 3s;
}

@media (max-width: 990px) {
    .copyright {
        display: none;
    }
}