.font-setting {
    width: 21.875rem;
    margin: 0 auto 3rem;

    .form-group {
        display: flex;
        align-items: center;
    }

    .form-control-range {
        max-width: 180px;
        margin-top: 8px;
    }

    .form-label {
        text-transform: uppercase;
        font-size: 32px;
        color: #000;
        margin-left: 1.25rem;
        margin-bottom: 0;
    }
}

@media (max-width: 1390px) {
    .font-setting .form-label {
        font-size: 22px;
    }
}

@media (max-width: 1030px) {
    .font-setting {
        padding: 0 15px;
    }
}

@media (max-width: 990px) {
    .font-setting {
        margin-bottom: 0;
    }
    
    .font-setting .form-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .font-setting .form-label {
        margin-top: 5px;
    }
}