.random {
    border-radius: 50px;
    border: 2px solid #000;
    background-color: #fff;
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 0;
    margin-top: 20px;

    &:focus {
        outline: none !important;
    }

    img {
        width: 70%;
        height: 70%;
    }
}