body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:hover {
    transition: all .2s;
    text-decoration: none;
    outline: none !important;
    color: #000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.content {
    height: 100%;
    display: flex;
}

@media (max-width: 990px) {
    .content {
        flex-direction: column-reverse;
    }
}